.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.project
.settings/
.loadpath
.recommenders
.DS_Store
# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
